
@{
    Layout = null;
}

@{
   
        Response.Redirect("~/Auth/Index");



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CloseSession</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
